@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<a asp-page-handler="Message" asp-route-txt="Chybová zpráva">Poslat zprávy</a>
<a asp-page-handler="Message2" asp-route-txt="Zpráva" class="btn btn-info">Info zpráva</a>